// Variables for colors and sizes
$primary-color: #4285f4;
$hover-color: #f1f1f1;
$active-color: #e8e8e8;
$button-bg: #f4f4f4;
$input-border-color: #dcdcdc;
$input-focus-border-color: $primary-color;
$input-padding: 14px;
$button-padding: 10px 20px;
$font-size: 14px;
$font-family: Arial, sans-serif;
$hover-bg-color: rgb(195, 191, 191); //color for hover


// Global Reset (removes margin, padding, box-sizing issues)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body Styling (to center content)
body 
{
  font-family: $font-family;
  background-color: #fff;
}

.title
{
  margin-top: 80px;
  padding: 10px 50px;
  font-size: 20px;
  color: rgb(167, 23, 23);
}

/* Main Container */
.container {
  max-width: 900px;
  margin-top: 10px;  
  padding: 10px 50px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(162, 160, 160, 0.1);

  .header
  {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  /* Form and Search Fields */
  .searchfld {
    .row {
      display: flex; /* Use flexbox to align label and input horizontally */
      align-items: center; /* Vertically center the items */
      margin-bottom: 20px;

      label {
        margin-right: 15px; /* Space between label and input */
        width: 180px; /* Fixed width for labels */
      }

      .input-field {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 14px;
        display: block; /* Ensures it fills the parent */
      }
    }
  }

  /* Submit Button */
  .search-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
    margin-right: 100px;
    margin-left: auto;

    &:hover {
      background-color: #1558b0;
    }
  }
}

.clarification
{
  margin-right: 15px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #1558b0;
}

// Container with the links in the top-right corner
.back 
{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;  
  
  a 
  {
    color: blue;
    text-decoration: none;
    font-size: 17px;
    
    &:hover 
    {
      color: red;
    }
  }
}

.logo
{
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 100px;
}